.project {

}

.project a{
	color: #000;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.project a:hover {
	text-decoration: none;
	color: #555;
}

.project .projectLink {
	font-weight: bold;
}