/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


/*
	Dark Blue 		#1E417B
	Med Blue 		#4283C5
	Light Blue 		#3780c2 
	Green			#97ba41
	Orange			#ff9900
	Dark Gray		#505050

*/

/*=======================================================*/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #EEE;
	color: #505050;
}

button {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.footer {
	background-color: #505050;
	color: #FFF;
	padding: 20px;
}

.log {
	background-color: #505050;
	padding: 10px;
	/*padding-right: 0;*/
}

.log a {
	color: #505050;
}

.log .forgot {
	clear: both;
	text-align: right;
	padding-top: 10px;
}

.log-content {
	background-color: #1E417B;
}

.log-content h2 {
	color: #FFF;
}

.log-content .row {
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
}

.log button {
	float: right;
}

.log p {
	font-weight: 500;
	font-size: 18px;
}


@media (min-width: 768px) {
	.log .form-inline {
		display: inline;
		float: right;
	}

	.log .nav-btn {
		display: none;
	}
}

.log .form-inline input,
.log .form-inline button {
	border-radius: 0;
	border: 0;
	color: #505050;
	
}

.log .form-inline input {
	border: 1px solid #FFF;
	background-color: #EEE;
}

.log .form-inline input:focus {
	border: 1px solid #3780c2;
}

.log .form-inline button {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	height: 34px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FFF;
	width: 92px;
	margin-left: 10px;
}

.log .form-inline button:focus {
	border: 2px solid #4283C5;
}

.log .form-inline button:hover {
	background-color: #1E417B;
	border: 2px solid #1E417B;
	color: #FFF;
}

.log .form-inline .login {
	background-color: #4283C5;
	border: 2px solid #4283C5;
	color: #FFF;
}

.log .form-inline .login:hover {
	background-color: #1E417B;
	border: 2px solid #1E417B;
}

.log .form-inline .signUp {
	background-color: #97ba41;
	border: 2px solid #97ba41;
	color: #FFF;
}

.log .form-inline .signUp:hover {
	background-color: #ff9900;
	border: 2px solid #ff9900;
}

.log .nav-btn {
	float: right;
}

.log .nav-btn button {
	padding-top: 5px;
	width: auto;
}

.log .nav-btn .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #505050;
	margin-bottom: 5px;
}

.log .form-group,
.log .form-group input {
	width: 100%;
	margin-bottom: 10px;
}

.log .twitter {
	background-color: #55ACEE;
	padding: 10px;
	width: 120px;
	height: 100px;
	border-radius: 5px;
}

.log .social-media {
	text-align: center;
}

.log .social-media div {
	display: inline-block;
	margin: 10px;
}

.log img {
	width: 100px;
	height: auto;
}

.log-content form {
	border-bottom: 2px solid #DDD;
	padding-bottom: 20px;
}

.log-content .social-media {
	padding-top: 20px;
}

.log-content .social-media img {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.log-content .social-media img:hover {
	opacity: 0.7;
}

@media (min-width: 768px) {
 	.log-content form {
		border-right: 2px solid #DDD;
		border-bottom: 0;
		padding-right: 20px;
	}

	.log-content .social-media {
		padding-left: 0;
	}

	.log-content .social-media {
		padding-top: 0px;
	}
 }

.header {
	background: url("img/bg.jpg")  center 55% no-repeat #4283C5;
	text-align: center;
	padding: 15px;
}

.header a {
	color: #FFF;
}

.header a:hover ,
.header a:focus{
	text-decoration: none;
	color: #FFF;
}

.header span {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.header span:hover {
	color: #1E417B;
}

.header div {
	font-weight: 400;
}

.logo {
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;

	width: 50px;
	height: 50px;
	border: 5px solid #1E417B;
	background-color: #4283C5;
	margin: 0 auto;
}

.logo:hover {
	border-color: #ff9900;
	background-color: #97ba41;
}

.logo div {
	width: 30px;
	height: 30px;
	background-color: #72A2D3;
	margin: 5px;
}

.header h1 {
	font-weight: 300;
	font-size: 24px;
}

.subtitle {
	display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.header h1 {
		font-size: 36px;
	}

	.subtitle {
		display: block;
	}
}

.container {
	overflow: hidden;
}

.city{
	background-color: #1E417B;
	color: #FFF;
	margin-bottom: 20px;
}

.city .cities {
	background-color: #FFF;
	
}

.cities {
	border-bottom: 1px solid #505050;
	margin-bottom: 20px;
}

.city .citiesSmall {
	background-color: #EEE;
}

.city h2 {
	margin-top: 10px;
	font-size: 20px;
}

.city .glyphicon {
	font-size: 18px;
}

.cities button {
	
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #505050;
	color: #505050;
}

.cities button:hover {
	background-color: #4283C5;
	color: #FFF;
	border-color: #4283C5;
}

.citiesSmall {
	padding-top: 20px;
}

.citiesBig {
	display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  
	.cities button {
		width: 160px;
	}

	.citiesSmall {
		display: none;
	}

	.citiesBig {
		display: block;
	}
}

.search {
	padding: 15px;
	/*padding-top: 10px;*/
}

@media (min-width: 768px) {
	.city h2 {
		font-size: 30px;
		margin: 20px 0;
	}

	.search {
		padding: 20px;
	}
}



.search .input-group {
	height: 33px;
}

.search .input-group input {
	border: 0;
}

.search .input-group:focus input {
	border: 0;
}

.search .input-group .input-group-addon {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	border: 0;
	border-radius: 0;
	background-color: #FFF;
	color: #1E417B;


}

.search .input-group:focus .input-group-addon {
	border-color: #3780c2;
}

.search .input-group .input-group-addon:hover {
	cursor: pointer;
	background-color: #4283C5;
	color: #FFF;
}

.sortFilter {
	margin-bottom: 20px;
}

.sort, .filter {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

}

.deal {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	overflow: hidden;
	margin-bottom: 20px;
}

.deal .border {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	border: 2px solid #FFF;

}

.deal .border:hover {
	border-color: #4283C5;
}

.deal .dealAddedBorder,
.deal .dealAddedBorder:hover {
	border-color: #97ba41;
}

.deal .details {
	padding: 15px;
	padding-bottom: 0;
	background-color: #FFF;
	padding: 15px;
	height: 190px;
	text-align: center;
}

.deal .row {
	margin-top: 20px;
}

.deal button {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	margin-top: 20px;
	background-color: #FFF;
	border: 1px solid #505050;
	padding: 5px 15px;
	width: 104px;
}

.deal button:hover {
	background-color: #4283C5;
	color: #FFF;
	border-color: #4283C5;
}

.deal .dealAdded {
	background-color: #97ba41;
	color: #FFF;
	border-color: #97ba41;
}

.deal a {
	color: #1E417B;
	font-weight: 300;
}

.deal a:hover,
.deal a:focus {
	text-decoration: none;
}

.deal .venue {
	font-weight: 500;
}

.deal .location {
	color: #505050;
}

.deal .dealPrice {
	color: #97ba41;
	font-weight: 400;
	font-size: 30px;
}

.deal .originalPrice,
.deal .savingPercent {
	font-size: 18px;
	line-height: 42px;
}

.deal .originalPrice {
	text-decoration: line-through;
	color: #505050;
}

.deal .savingPercent {
	color: #ff9900;
}

.deal .imgContainer {
	overflow: hidden;
	height: 200px;
}

.deal {
	overflow: hidden;
}

.deal .imgContainter:hover .actions{
	display: block;
}

.deal img {
	display: block;
  	min-width: 100%;
  	height: auto;
  	position: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.deal img {
		height: 200px;
		width: auto;
	}

	.deal .fb img{
		width: 30px;
		height: auto;
	}

	.banner img {
		width: 100%;
		height: auto;
	}

	.bannerBig .imgContainer {
		height: 300px;
	}
}

.deal:hover .actions {
	display: block;
}

.deal .actions {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	position: absolute;
	display: none;
}

.deal .actions div {
	float: right;
	padding: 5px;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.deal .actions div:hover {
	opacity: 0.7;
}

.deal .twitter {
	background-color: #55ACEE;
	height: 30px;
	width: auto;
	margin: 5px;
}

.deal .twitter img{
	height: 20px;
	width: auto;
}

.deal .fb img{
	width: 30px;
}

.deal .email span {
	font-size: 19px;
	color: #FFF;
	background-color: #55ACEE;
	padding: 5px;
}

.pages nav {
	text-align: center;
}

.pages .pagination>li>a {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

	color: #505050;
	border:0;
	border-radius: 0;
	margin: 5px;
}

.pages .pagination>li>a:hover {
	background-color: #4283C5;
}

.footer {
	text-align: center;
}

.footer a{
	color: #FFF; 
	line-height: 50px;
	vertical-align: middle;
}

.footer a:hover {
	text-decoration: none;
	color: #ff9900;
}